<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ webconfig.title }}</title>

    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.3.1/cerulean/bootstrap.min.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <style>
        html, body {
            height: 100%;
        }

        body {
            background: #eeeeee;
        }
    </style>
</head>

<body class="d-flex flex-column">
<div id="page-content" style="flex: 1 0 auto">
    {% include "header.html" %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="container">
                <div class="alert alert-warning">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</div>
{% include "footer.html" %}
</body>

</html>