{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="card card-body">
            <h1 class="display-3 font-weight-light">Hi, Compiler 2020.</h1>
            <p class="lead">More information is available on the site: <a
                    href="https://github.com/peterzheng98/Compiler-2020">GitHub Pages</a></p>
            <hr class="my-3">
                    <p class="lead">Notice: Server testing will start on Apr.11 and end on Apr.12(8:00am). The judging result will be ignored within the testing time.</p>
            <hr class="my-3">
            <p class="lead">If you have questions, go to GitHub Pages to find the similar issue or make a new issue.</p>
            <p class="lead">If you don't know how to make a compiler, ask for help immediately.</p>
            <p class="lead">If you want to attack this server, we've made a mirror one and you can use that one for
                finding bugs.</p>
            <hr class="my-3">
            <p class="lead">Hope you all finish this work easily.</p>
        </div>
    </div>

{% endblock %}
