{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="container card card-body">
            {% if content_title != '' %}
                <h2>{{ content_title }}</h2><br>
            {% endif %}
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h4>Commit Information</h4>
                    <div class="card-text code-font form-group">
                        <label>
                            <textarea class="form-control custom-small-font" style="overflow:hidden; resize:none; "
                                      type="text"
                                      name="commit-message" readonly="readonly" rows="7"
                                      cols="100%">{{ commit_message }}</textarea>
                        </label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="custom-small-font">
                        <h4>&nbsp;</h4>
                        <table class="table">
                            <thead>
                            <th>Phase</th>
                            <th>Judge Result</th>
                            <th>Rate</th>
                            </thead>
                            <tbody>
                            {% for phase in judge_list %}
                                <tr>
                                <td>{{ phase[0] }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             aria-valuenow="{{ phase[2] }}"
                                             aria-valuemin="0"
                                             aria-valuemax="100"
                                             style="width: {{ phase[2] }}%;">
                                            {{ phase[1] }}
                                        </div>
                                        <div class="progress-bar bg-danger" role="progressbar"
                                             aria-valuenow="{{ phase[4] }}"
                                             aria-valuemin="0"
                                             aria-valuemax="100"
                                             style="width: {{ phase[4] }}%;">
                                            {{ phase[3] }}
                                        </div>
                                    </div>
                                </td>
                                <td>{{ phase[2] }}%</td>
                            {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                        <div align="right">
                            <button type="button" class="btn btn-sm btn-primary"
                                    onclick="location.href='/judge/list/{{ prev_page }}'">Go Back
                            </button>
                        </div>
                    </div>
                </div>

                <hr class="my-3">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <h4>Build Message</h4>
                    <div class="card-text code-font form-group">
                        <label>
                            <textarea class="form-control custom-xsmall-font" style="resize:none; " type="text"
                                      name="commit-message" readonly="readonly" rows="5"
                                      cols="200%">{{ builtMessage }}</textarea>
                        </label>
                    </div>
                </div>

                <hr class="my-3">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <h4>Judgement Protocol</h4>
                    <div class="custom-small-font">
                        <table class="table table-striped">
                            <thead>
                            {% for header_ctx in header_list %}
                                <th>{{ header_ctx }}</th>
                            {% endfor %}
                            </thead>
                            <tbody>
                            <div class="custom-medium-font">
                                {% for record in record_list %}
                                    <tr>
                                        {% for data in record %}
                                            <td>
                                                <div class="{{ data[0] }}">
                                                    {% if data[1] != '' %}
                                                        <a href="{{ data[1] }}">
                                                    {% endif %}
                                                    {{ data[2] }}
                                                    </a>
                                                </div>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}