{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="container card card-body">
            {% if content_title != '' %}
                <h2>{{ content_title }}</h2>
            {% endif %}
            <table class="table table-striped">
                <thead>
                <tr>
                    {% for rows in table_header %}
                        <th>{{ rows }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for rows in table_content %}
                    <tr>
                        <td valign="middle" align="left">
                            <a href="/judge/detail/{{ rows[4] }}/{{ rows[5] }}">
                                <div class="custom-small-font"> {{ rows[4] }}</div>
                            </a>
                        </td>
                        <td valign="middle" align="left">
                            <div class="custom-small-font">
                                {{ rows[0] }}
                            </div>
                        </td>
                        <td valign="middle" align="left">
                            <div class="code-font custom-small-font">
                                {{ rows[1] }}</div>
                        </td>

                        {% if rows[2] == '0' %}
                            <td valign="middle" align="left" class="table-danger">
                                <div class="custom-small-font">
                                    Fail
                                </div>

                            </td>
                        {% endif %}
                        {% if rows[2] == '1' %}
                            <td valign="middle" align="left" class="table-success">
                                <div class="custom-small-font">
                                    Pass
                                </div>
                            </td>
                        {% endif %}
                        {% if rows[2] == '2' %}
                            <td valign="middle" align="left" class="table-primary">
                                <div class="custom-small-font">
                                    Running
                                </div>
                            </td>
                        {% endif %}
                        {% if rows[2] == "-1" %}
                            <td valign="middle" align="left" class="table-info">
                                <div class="custom-small-font">
                                    Pending
                                </div>
                            </td>
                        {% endif %}

                        <td valign="middle" align="left">
                            <div class="custom-small-font"> {{ rows[3] }}</div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="btn btn-group" role="group" aria-label="Page Control">
                <button type="button" class="btn btn-primary" onclick="location.href='/judge/list/{{ prev_page }}'">
                    Previous Page
                </button>
                <button type="button" class="btn btn-secondary" onclick="location.href='/judge/list/{{ next_page }}'">
                    Next Page
                </button>
            </div>
        </div>
    </div>

{% endblock %}