<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Compiler Project Online Judge</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('homepage') }}">{{ website_name }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
{#                <li><a href="{{ url_for('homepage') }}"><span class="glyphicon glyphicon-home"#}
{#                                                              aria-hidden="true"></span> Home</a></li>#}
                <li><a href="{{ url_for('compilers') }}"><span class="glyphicon glyphicon-hdd"
                                                               aria-hidden="true"></span> Compilers</a></li>
                <li><a href="{{ url_for('builds') }}"><span class="glyphicon glyphicon-wrench"
                                                            aria-hidden="true"></span> Builds</a></li>
                <li><a href="{{ url_for('runs') }}"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                    Runs</a></li>
                <li><a href="{{ url_for('testcases') }}"><span class="glyphicon glyphicon-file"
                                                               aria-hidden="true"></span> Testcases</a></li>
                <li><a href="{{ url_for('judges') }}"><span class="glyphicon glyphicon-equalizer"
                                                            aria-hidden="true"></span> Judge Status</a></li>

                <li><a href="{{ url_for('final_board') }}"><span class="glyphicon glyphicon-sort-by-attributes-alt"
                                                            aria-hidden="true"></span> Rank</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_active %}
                    <li>
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">

                            <i class="icon-user"></i> Hi {{ current_user.username }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('update_repo') }}">Update Repo </a></li>
                            <li><a href="{{ url_for('add_testcase') }}">Add Testcase</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ url_for('modify_password') }}">Modify Password</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ url_for('logout') }}">Log out</a></li>
                        </ul>
                    </li>
                {% else %}`
                    <li>
                        <a href="{{ url_for('login') }}"> Login </a>
                    </li>
                    <li>
                        <a href="{{ url_for('register') }}"> Register</a>
                    </li>
                {% endif %}
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
{% endfor %}
<div class="container" role="main">
    {% block content %}{% endblock %}
</div>

<!-- <script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script> -->
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({html: true})
    })
</script>
{% block scripts %}{% endblock %}
</body>
</html>