{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="container card card-body">
            {% if content_title != '' %}
                <h2>{{ content_title }}</h2>
            {% endif %}
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                <tr>
                    {% for rows in table_header %}
                        <th>{{ rows }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for rows in table_content %}
                    <tr align="center" valign="middle" {% if rows[3] != 0 %}
                        class="{{ rows[5] }}"
                    {% endif %} >
                        <td valign="middle" align="left">
                            <font size="-1">
                                {{ rows[0] }}
                            </font>
                        </td>
                        <td valign="middle" align="left">
                            <font size="-1">
                            {{ rows[1] }}</font>
                        </td>
                        <td valign="middle" align="left">
                            <font size="-1">{{ rows[2] }}</font>
                        </td>
                        <td valign="middle" align="left">
                            <font size="-1"> {{ rows[4] }}</font>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}