{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="container card card-body">
            {% if content_title != '' %}
                <h2>{{ content_title }}</h2>
            {% endif %}
            <table class="table table-striped">
                <thead>
                <tr>
                    {% for rows in table_header %}
                        <th>{{ rows }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for rows in table_content %}
                    <tr align="center" valign="middle" {% if rows[3] != 0 %}
                        class="{{ rows[5] }}"
                    {% endif %} >
                        <td valign="middle" align="left">
                            <div class="custom-small-font">{{ rows[0] }}</div>

                        </td>
                        <td valign="middle" align="left">

                            <div class="custom-small-font">{{ rows[1] }}</div>

                        </td>
                        <td valign="middle" align="left">
                            <div class="code-font">{{ rows[2] }}</div>
                        </td>
                        <td valign="middle" align="left">
                            <div class="custom-small-font"> {{ rows[4] }}</div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}